In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None 
import skimage.io
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("ebook_info.csv")
print(len(df))
df = df[df["num_rating"] >= 100]
df

6171

,img,rating,num_rating
0,https://m.media-amazon.com/images/I/91tjikkfB6...,4.7 out of 5 stars,34758
1,https://m.media-amazon.com/images/I/91JkRgWPWx...,4.4 out of 5 stars,5836
2,https://m.media-amazon.com/images/I/71EfdZLKe9...,4.8 out of 5 stars,11843
3,https://m.media-amazon.com/images/I/91P4oiK4SC...,4.8 out of 5 stars,13987
4,https://m.media-amazon.com/images/I/81XNHNN0Jh...,4.5 out of 5 stars,3595
...,...,...,...
6158,https://m.media-amazon.com/images/I/91TNYfdOe4...,4.6 out of 5 stars,355
6161,https://m.media-amazon.com/images/I/91p1SzmYSL...,4.5 out of 5 stars,156
6162,https://m.media-amazon.com/images/I/71oPMkly7q...,4.4 out of 5 stars,117
6164,https://m.media-amazon.com/images/I/51xC77Cq-E...,4.3 out of 5 stars,117
6170,https://m.media-amazon.com/images/I/91G8MHgvUp...,4.4 out of 5 stars,190

In [3]:
df = df[["img", "rating"]]
df.head()

                                                 img              rating
0  https://m.media-amazon.com/images/I/91tjikkfB6...  4.7 out of 5 stars
1  https://m.media-amazon.com/images/I/91JkRgWPWx...  4.4 out of 5 stars
2  https://m.media-amazon.com/images/I/71EfdZLKe9...  4.8 out of 5 stars
3  https://m.media-amazon.com/images/I/91P4oiK4SC...  4.8 out of 5 stars
4  https://m.media-amazon.com/images/I/81XNHNN0Jh...  4.5 out of 5 stars

In [4]:
df["rating"] = df["rating"].str.replace("out of 5 stars", "").astype(float)
df.head()

                                                 img  rating
0  https://m.media-amazon.com/images/I/91tjikkfB6...     4.7
1  https://m.media-amazon.com/images/I/91JkRgWPWx...     4.4
2  https://m.media-amazon.com/images/I/71EfdZLKe9...     4.8
3  https://m.media-amazon.com/images/I/91P4oiK4SC...     4.8
4  https://m.media-amazon.com/images/I/81XNHNN0Jh...     4.5

In [5]:
print(df["rating"].unique())
print("# of data points with a rating of < 4.0:", len(df[df["rating"] < 4.0]))

[4.7 4.4 4.8 4.5 4.6 4.3 4.9 4.2 3.7 4.  4.1 3.9 3.8 3.6 3.5]
# of data points with a rating of < 4.0: 36

In [6]:
df = df.loc[df["rating"] >= 4.0]
df.loc[df["rating"] >= 4.5, "rating"] = 5.0
df.loc[df["rating"] < 4.5, "rating"] = 4.0

In [8]:
df["array"] = df["img"].apply(lambda x: skimage.io.imread(x))

In [9]:
df["arr_shape"] = df["array"].apply(lambda x: x.shape)

In [11]:
df["arr_shape"].unique()

array([(218, 144, 3), (218, 141, 3), (218, 133, 3), (218, 148, 3),
       (218, 138, 3), (218, 142, 3), (218, 145, 3), (218, 136, 3),
       (218, 137, 3), (218, 134, 3), (218, 131, 3), (218, 135, 3),
       (218, 140, 3), (218, 143, 3), (218, 132, 3), (218, 146, 3),
       (218, 126, 3), (218, 189, 3), (218, 139, 3), (218, 151, 3),
       (218, 159, 3), (218, 128, 3), (218, 149, 3), (218, 147, 3),
       (218, 168, 3), (218, 180, 3), (218, 156, 3), (218, 154, 3),
       (218, 163, 3), (218, 130, 3), (218, 282, 3), (218, 300, 3),
       (218, 162, 3), (218, 150, 3), (218, 157, 3), (218, 129, 3),
       (218, 122, 3), (218, 161, 3), (218, 256, 3), (218, 227, 3),
       (218, 240, 3), (218, 124, 3), (218, 243, 3), (218, 236, 3),
       (218, 250, 3), (218, 176, 3), (218, 171, 3), (218, 164, 3),
       (218, 188, 3), (218, 184, 3), (218, 181, 3), (218, 170, 3),
       (218, 160, 3), (218, 193, 3), (218, 153, 3), (218, 125, 3),
       (218, 169, 3), (218, 295, 3), (218, 196, 3), (218, 234, 3),
       (218, 247, 3), (218, 155, 3), (218, 127, 3), (218, 177, 3),
       (218, 313, 3), (218, 205, 3), (218, 306, 3), (218, 304, 3),
       (218, 167, 3), (218, 206, 3), (218, 174, 3), (218, 244, 3),
       (218, 166, 3), (218, 260, 3), (218, 179, 3), (218, 158, 3),
       (218, 123, 3), (218, 152, 3), (218, 235, 3), (218, 175, 3),
       (218, 190, 3), (218, 272, 3), (218, 192, 3), (218, 257, 3),
       (218, 231, 3), (218, 178, 3), (218, 117, 3), (218, 226, 3),
       (218, 255, 3), (218, 229, 3)], dtype=object)

In [12]:
shape_counts = df.groupby(["rating", "arr_shape"]).size().to_frame(name="size").sort_values("size", ascending=False).reset_index()
display(shape_counts[shape_counts["rating"] == 5.0].reset_index()[["rating", "arr_shape", "size"]].head(3))
display(shape_counts[shape_counts["rating"] == 4.0].reset_index()[["rating", "arr_shape", "size"]].head(3))

   rating      arr_shape  size
0     5.0  (218, 145, 3)   962
1     5.0  (218, 135, 3)   306
2     5.0  (218, 141, 3)   222

   rating      arr_shape  size
0     4.0  (218, 145, 3)   876
1     4.0  (218, 135, 3)   183
2     4.0  (218, 136, 3)   127

In [13]:
top_shape_5 = shape_counts[shape_counts["rating"]==5.0].reset_index()["arr_shape"][0]
top_shape_4 = shape_counts[shape_counts["rating"]==4.0].reset_index()["arr_shape"][0]
print("Most common array shape for 5.0 ratings:", top_shape_5)
print("Most common array shape for 4.0 ratings:", top_shape_4)

Most common array shape for 5.0 ratings: (218, 145, 3)
Most common array shape for 4.0 ratings: (218, 145, 3)

In [14]:
xy = df[df["arr_shape"] == top_shape_5][["array", "rating"]].reset_index()
xy = xy.sample(frac=1, random_state=19).reset_index(drop=True)[["array", "rating"]]
xy

                                                  array  rating
0     [[[1, 1, 1], [1, 1, 1], [1, 1, 1], [1, 1, 1], ...     4.0
1     [[[0, 80, 92], [0, 79, 92], [1, 79, 92], [3, 7...     4.0
2     [[[52, 41, 71], [44, 34, 69], [43, 35, 72], [4...     4.0
3     [[[179, 110, 68], [179, 111, 66], [179, 113, 6...     4.0
4     [[[0, 37, 64], [0, 49, 76], [0, 65, 94], [0, 8...     4.0
...                                                 ...     ...
1833  [[[24, 65, 111], [24, 65, 111], [23, 64, 110],...     4.0
1834  [[[213, 1, 0], [215, 0, 0], [215, 0, 0], [211,...     4.0
1835  [[[171, 141, 113], [171, 139, 114], [171, 139,...     4.0
1836  [[[50, 54, 40], [37, 37, 27], [39, 32, 24], [5...     5.0
1837  [[[120, 131, 115], [150, 161, 145], [162, 173,...     4.0

[1838 rows x 2 columns]

In [28]:
xy["array"] = xy["array"].apply(lambda x: x.tolist())

In [32]:
xy.to_csv("cleaned_ebook_info.csv", index=False)